.Logo{
    
    text-align: center;
    display:flex;
    flex-direction:row;
    width:70%;
    height:30%;
    padding: 10px 10px;
    margin:5px 0px;
    align-items: center;
    cursor: pointer;

}