#login{
    width:40%;
    height: 40%;
    padding:30px;
    margin: 50px auto;
    align-items:center;
    justify-content:center;
    border:1px solid black;
    font-weight: bold;
    border-radius:10px;
    
}
#login Button{
    width:80%;
    
}
